.footer__link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    transition: opacity 1s color 2s ease;
  }

  .footer__link:hover {
    opacity: 0.5;
    color: yellow;
  }